<% include ../partials/header %>

<div class="container">
    
    <h1 class="text-center mt-5">Add New Comments to <%= campground.name %></h1>

    <div class="row">
        
        <div style="width: 350px;margin: 25px auto;">
            
            <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="comment[text]" placeholder="Enter Your Comment">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
    <div class="text-center">
        <a href="/campgrounds" >Go Back</a>
    </div>
    
</div>



<% include ../partials/footer %>